/* Colour palette 
0E0F19
EFF2F1
007EA7
*/

/* importing google fonts */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,300;1,100;1,700&family=Rajdhani:wght@300&display=swap');

/* importing components files */

@import url("components/container.css");
@import url("components/button.css");
@import url("components/avatar.css");
@import url("components/banner.css");
@import url("components/card.css");
@import url("components/list-inline.css");

/* General style rules */
body {
	font-family: 'Rajdhani', sans-serif;
	font-weight: 300;
	background-color: #0E0F19;
	margin : 0px 
}

h1, h2, h3 {
	color:  #EFF2F1;
	font-family: 'Josefin', sans-serif;
	font-weight: bold;
	margin: 15px 20px;
}
a {
	text-decoration: none;
}

